name: Deploy Docs to Vercel

on:
  push:
    branches:
      - main
  repository_dispatch:
    types: [spec-updated]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Docs Repo Code
        uses: actions/checkout@v4

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Deploy to Vercel
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
        run: vercel deploy ./site --prod --token=${{ secrets.VERCEL_TOKEN }}
        